@import 'sass/variables';
@import 'sass/mixins';

.App__logo {
    height: 32px;
    background: $blue-grey;
    margin: 16px;
}

.App__layout {
    min-height: 100vh;
    background: linear-gradient(-70deg, #0473e3 30%, rgba(0, 0, 0, 0) 30%),
        #f1f2f5;
}

.App__sider {
    @include phone {
        overflow: auto;
        height: 100vh;
        position: fixed;
        left: 0;
        .anticon {
            margin-right: 25%;
        }
    }
}

.App__sider,
.App__menu,
.ant-layout-sider-trigger {
    background: linear-gradient(to right, rgb(2, 27, 121), rgb(5, 117, 230));
}

.ant-layout-sider-collapsed {
    @include phone {
        .anticon {
            margin-right: 0px;
        }
    }
}

.App__header {
    padding: 5px;
    text-align: center;
}

.App__layout .App__layout--background {
    background: $white;
}

.App__content {
    margin: 0 16px;
    overflow: initial;
    @include phone {
        margin-left: 25%;
        margin-right: 10%;
    }
}

.App__content-container {
    padding: 24px;
    min-height: 360px;
    text-align: center;
    margin-top: 5%;
}

.App__content .App__content--background {
    background: $white;
}

.App__menu {
    position: relative;
}

.App__menu-item-link {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    color: $white;
}

.App__menu-item-link:hover {
    color: $white;
}

.App__footer {
    text-align: center;
    @include phone {
        margin-left: 20%;
    }
}

.ant-layout-footer {
    background: transparent;
}
