@import '../../sass/variables';
@import '../../sass/mixins';

.App__logo {
    height: 32px;
    background: $blue-grey;
    margin: 16px;
}

.App__layout {
    min-height: 100vh;
}

.App__sider {
    @include phone {
        overflow: auto;
        height: 100vh;
        position: fixed;
        left: 0;
        .anticon {
            margin-right: 25%;
        }
    }
}

.ant-layout-sider-collapsed {
    @include phone {
        .anticon {
            margin-right: 0px;
        }
    }
}

.App__header {
    padding: 5px;
    text-align: center;
}

.App__layout .App__layout--background {
    background: $white;
}

.App__content {
    margin: 0 16px;
    overflow: initial;
    @include phone {
        margin-left: 25%;
        margin-right: 10%;
    }
}

.App__content-container {
    padding: 24px;
    min-height: 360px;
    text-align: center;
    margin-top: 5%;
}

.App__content .App__content--background {
    background: $white;
}

.App__menu {
    position: relative;
}

.App__menu-item-link {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    color: $white;
}

.App__menu-item-link:hover {
    color: $white;
}

.App__footer {
    text-align: center;
    margin-left: 15%;
}
