@import '../../sass/variables';

.App__sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}

.App__logo {
    height: 32px;
    background: $blue-grey;
    margin: 16px;
}

.App__layout {
    margin-left: 200;
}

.App__header {
    padding: 0;
}

.App__layout .App__layout--background {
    background: $white;
}

.App__content {
    margin-top: 24px;
    margin-left: 15%;
    overflow: initial;
}

.App__content-container {
    padding: 24px;
    text-align: center;
}

.App__content .App__content--background {
    background: $white;
}

.App__menu {
    position: relative;
}

.App__menu-item-link {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    color: $white;
}

.App__menu-item-link:hover {
    color: $white;
}

.App__footer {
    text-align: center;
    margin-left: 15%;
}
